.hero {
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px;
    height: 400px;
    background-position: center center;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    text-align: left;
}
.hero-content h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 45px;
    margin: 0 0 10px;
}
.hero-content p {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px;
}
