.stgo-search-input {
    -webkit-appearance: none;
    border: 1px solid #000000;
    min-width: 250px;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}
#buscador {
    scroll-margin-top: 100px;
}